.table-container {
  width: 250px;
  height: 250px;
  border: 1px solid black;
}

table {
  height: 100%;
  width: 100%;
  text-align: center;
  /* for tr border un-comment this */
  /* border-collapse: collapse; */
}

tr {
  border: 1px solid red;
}

td {
  padding: 0px;
  margin: 0px;
  border: 1px solid black;
}

td:hover {
  border: 1px solid black;
  border-radius: 50%;
}